@import "../../node_modules/normalize.css/normalize.css";

:root {
    --primary: #444e65;
    --dark-primary: #2f3c4a;
    --light-primary: #5b748e;
    --accent: #ffc107;
    --white: #f8f7f7;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

body {
    height: 100vh;
    background-color: var(--dark-primary);
    font-family: Verdana, Tahoma, Arial, sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 40px 20px;
}

.header {
    min-height: 80px;
    padding: 20px 0px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header__link {
    background: url(../icons/home-icon.svg) no-repeat;
    background-size: cover;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.movies-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 22px;
    margin-bottom: 32px;
}

.movie-item {
    max-width: fit-content;
    position: relative;
    background-color: var(--primary);
    border-radius: 4px;
    box-shadow: 4px 4px 8px 4px rgba(85, 120, 147, 0.2);
}

.movie-item img {
    max-width: 100%;
}

.movie-item h2 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 10px 20px 5px;
    color: var(--white);
}

.movie-item p,
.movie-item span {
    color: var(--accent);
    font-size: 14px;
    line-height: 20px;
    padding: 0 10px;
}

@media (hover: hover) {
    .movie-item p,
    .movie-item span {
        opacity: 0;
        transition: all 0.2s ease-in;
    }
}

@media (hover: hover) {
    .movie-item:hover.movie-item p,
    .movie-item:hover.movie-item span {
        opacity: 1;
        transition: all 0.3s ease-in;
    }
}

.pagination {
    display: flex;
    max-width: 30%;
    min-width: 280px;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 40px;
    justify-content: center;
    background-color: var(--light-primary);
    color: var(--white);
    line-height: 30px;
}

.page-btn {
    width: 50px;
    font-size: 18px;
    cursor: pointer;
}

.page__btn--prev {
    margin-right: 16px;
}

.page__btn--next {
    margin-left: 16px;
}

.page__item {
    width: 30px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.page__item--current {
    background-color: var(--white);
    color: var(--light-primary);
    border-radius: 50%;
}

.sort {
    position: relative;
    display: flex;
    width: 15em;
    height: 2.5em;
    line-height: 2.5;
    border-radius: 4px;
    margin-bottom: 18px;
}

.sort::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: var(--primary);
    color: var(--white);
    cursor: pointer;
    pointer-events: none;
}

.select-sort {
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
    flex: 1;
    background: var(--light-primary);
    color: var(--white);
    padding: 0 0.6em;
    line-height: inherit;
    font-weight: 500;
    cursor: pointer;
}

.select-sort::-ms-expand {
    display: none;
}

.movie {
    display: none;
    padding: 180px 20px 20px 20px;
    background-color: rgba(47, 60, 74, 0.9);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.movie-content {
    min-height: 45%;
    max-height: 100%;
    max-width: 75%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 6px;
    padding: 30px 30px 60px 30px;
    background-color: var(--primary);
}

.movie-page__row {
    display: flex;
    position: relative;
}

.movie-page__img img {
    max-height: 380px;
    border-radius: 4px;
    box-shadow: 4px 4px 8px 4px rgba(85, 120, 147, 0.2);
}

.movie-page__text {
    padding: 10px 40px;
    color: var(--white);
    line-height: 20px;
}

.movie-page__text h2 {
    font-size: 24px;
    line-height: 28px;
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
    padding-bottom: 5px;
    margin-right: 22px;
    margin-bottom: 20px;
}

.movie-page__text p {
    margin-bottom: 20px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.movie-page__text h4 {
    font-weight: 400;
    margin-bottom: 8px;
}

.movie-page__text h4 strong {
    color: var(--accent);
}

.movie-page__text ul {
    font-weight: 700;
    color: var(--accent);
}

.movie-page__text ul li {
    font-weight: initial;
    color: var(--white);
}

.close-button {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    border: 2px solid var(--accent);
    background-color: var(--primary);
    color: var(--accent);
    font-size: 18px;
}

@media screen and (max-width: 1023px) {
    .movie-content {
        max-width: 85%;
    }
}

@media screen and (max-width: 767px) {
    .movie {
        padding: 0;
    }

    .movie-content {
        max-width: 100%;
        min-height: 100%;
    }

    .movie-page__row {
        flex-direction: column;
    }

    .movie-page__text {
        padding: 10px;
        line-height: 16px;
    }

    .movie-page__text h2 {
        font-size: 20px;
        line-height: 24px;
        margin-right: 0;
    }

    .movie-page__text p {
        font-size: 12px;
        -webkit-line-clamp: 4;
    }

    .movie-page__text h4 {
        margin-bottom: 6px;
    }

    .movie-page__text h4 strong {
        font-weight: 500;
    }

    .movie-page__text ul {
        font-weight: 500;
    }

    .movie-page__text ul li {
        display: inline-flex;
    }
}


